{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- carousel -->
<section>
    <div class="col-md-10 mx-auto">
        <div id="heroImageNav" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <!-- Navigation buttons in captions bar -->
                <button type="button" data-bs-target="#heroImageNav" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#heroImageNav" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#heroImageNav" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <!-- Hero Images with caption -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'images/res_cover_1.jpg' %}" class="d-block w-100" alt="...">
                    <div class="caption border border-1 rounded d-none d-md-block">
                        <h1>Welcome to Jim's Bar And Grill</h1>
                        <h3>Where are priortity is to make you happy</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/res_cover_2.jpg' %}" class="d-block w-100" alt="...">
                    <div class="caption border border-1 rounded d-none d-md-block">
                        <h1>Welcome to Jim's Bar And Grill</h1>
                        <h3>Where are priortity is to make you happy</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/res_cover_3.jpg' %}" class="d-block w-100" alt="...">
                    <div class="caption border border-1 rounded d-none d-md-block">
                        <h1>Welcome to Jim's Bar And Grill</h1>
                        <h3>Where are priortity is to make you happy</h3>
                    </div>
                </div>
            </div>
            <!-- Slide buttons to change hero image -->
            <button class="carousel-control-prev" type="button" data-bs-target="#heroImageNav" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#heroImageNav" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<!-- cards -->
<section class="container">
    <div class="row d-flex my-5 justify-content-evenly text-center">
        <div class="col-10 col-md-4 mt-4 grow card shadow">
            <a href="#" class="text-decoration-none">
                <img src="{% static 'images/booking_image.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a table setting">
            </a>
            <div class="row mt-3 mb-3">
                <a href="{% url 'reservations' %}">
                    <h2>Reservations</h2>
                </a>
            </div>
        </div>

        <div class="col-10 col-md-4 mt-4 grow card shadow">
            <a href="#" class="text-decoration-none">
                <img src="{% static 'images/food_image.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a person eating a meal">
            </a>
            <div class="row mt-3 mb-3">
                <a href="{% url 'food_menu' %}">
                    <h2>Food Menu</h2>
                </a>
            </div>
        </div>

        <div class="col-10 col-md-4 mt-4 grow card shadow">
            <a href="#" class="text-decoration-none">
                <img src="{% static 'images/drink_image.jpg' %}" class="card-img-top rounded img-fluid"
                    alt="A photo of a glass of whiskey">
            </a>
            <div class="row mt-3 mb-3">
                <a href="{% url 'drink_menu' %}">
                    <h2>Drinks Menu</h2>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row text-center">
        <p><em>Allow us to look after you, your friends and family.</em></p>
    </div>
</div>
<section class="container-fluid">
    <div class="row d-flex my-5 justify-content-evenly">
        <!-- Events catered for -->
        <div class="col-md-4 card shadow p-3 mt-5 rounded">
            <h3>We cater for the following events</h3>
            <ul>
                <li>Private Parties</li>
                <li>Terrace Parties</li>
                <li>Corportate Events</li>
                <li>Work Parties</li>
                <li>Date Nights</li>
                <li>Cocktail Parties</li>
            </ul>
            <a href="{% url 'blog' %}">
                <p>Click here to arrange an event!</p>
            </a>
            <div class="col-12 mt-5">
                <img src="{% static 'images/cater_image.jpg' %}" class="img-fluid rounded shadow"
                    alt="A photo of man holding a Mojito">
            </div>
        </div>
        <!-- Blog Information -->
        <div class="col-md-4 card shadow p-3 mt-5 rounded justify-content-between">
            <div class="col-12">
                <img src="{% static 'images/blog_image.jpg' %}" class="img-fluid rounded shadow"
                    alt="A couple looking at a laptop">
            </div>
            <h3 class="mt-4">Check out our amazing Blog</h3>
            <ul>
                <li>Recipes</li>
                <li>Reviews</li>
                <li>How to Guides</li>
                <li>Cooking Steak Guides</li>
                <li>Trends</li>
                <li>Cocktails recipes</li>
            </ul>
            <a href="{% url 'blog' %}">
                <p>Click here to go to our Blog Page!</p>
            </a>
        </div>
    </div>
</section>

{%endblock%}