{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- carousel -->
<section>
    <div class="col-md-10 mx-auto">
        <div id="heroImageNav" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <!-- Navigation buttons in captions bar -->
                <button type="button" data-bs-target="#heroImageNav" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#heroImageNav" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#heroImageNav" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <!-- Hero Images with caption -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img src="{% static 'images/res_cover_1.jpg' %}" class="d-block w-100
                    " alt="...">
                    <div
                        class="caption p-4  rounded text-center position-absolute top-50 start-50 translate-middle d-none d-md-block">
                        <h1 class="display-3 fw-bolder">Welcome to<br>Jim's Bar & Grill</h1>
                        <span class="d-flex justify-content-evenly">
                            {% if user.is_authenticated %}
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'booking_list' %}"
                                role="button"><i class="fa-regular fa-calendar"></i> My Bookings</a>
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_logout' %}"
                                role="button"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                            {% else %}
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_signup' %}"
                                role="button"><i class="fa-solid fa-user-plus"></i> Register</a>
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_login' %}"
                                role="button"><i class="fa-solid fa-pen-to-square"></i> Login</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class=" carousel-item">
                    <img src="{% static 'images/res_cover_2.jpg' %}" class="d-block w-100" alt="...">
                    <div
                        class="caption p-4 rounded text-center position-absolute top-50 start-50 translate-middle d-none d-md-block">
                        <h1 class="display-3 fw-bolder">Welcome to<br>Jim's Bar & Grill</h1>
                        <span class="d-flex justify-content-evenly">
                            {% if user.is_authenticated %}
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'booking_list' %}"
                                role="button"><i class="fa-regular fa-calendar"></i> My Bookings</a>
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_logout' %}"
                                role="button"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                            {% else %}
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_signup' %}"
                                role="button"><i class="fa-solid fa-user-plus"></i> Register</a>
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_login' %}"
                                role="button"><i class="fa-solid fa-pen-to-square"></i> Login</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/res_cover_3.jpg' %}" class="d-block w-100" alt="...">
                    <div
                        class="caption p-4 rounded text-center position-absolute top-50 start-50 translate-middle d-none d-md-block">
                        <h1 class="display-3 fw-bolder">Welcome to<br>Jim's Bar & Grill</h1>
                        <span class="d-flex justify-content-evenly">
                            {% if user.is_authenticated %}
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'booking_list' %}"
                                role="button"><i class="fa-regular fa-calendar"></i> My Bookings</a>
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_logout' %}"
                                role="button"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
                            {% else %}
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_signup' %}"
                                role="button"><i class="fa-solid fa-user-plus"></i> Register</a>
                            <a class="btn btn-outline-light btn-floating m-1 grow" href="{% url 'account_login' %}"
                                role="button"><i class="fa-solid fa-pen-to-square"></i> Login</a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <!-- Slide buttons to change hero image -->
            <button class="carousel-control-prev" type="button" data-bs-target="#heroImageNav" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#heroImageNav" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<!-- cards -->
<section class="container">
    <!-- Reservations Card -->
    <div class="row d-flex my-5 justify-content-evenly text-center">
        <div class="col-10 col-md-4 mt-4 grow card shadow ">
            <a href="{% url 'reservations' %}" class=" btn btn-outline-light">
                <div class="row mt-3 mb-3">
                    <img src="{% static 'images/booking_image.jpg' %}" class="card-img-top rounded img-fluid"
                        alt="A photo of a table setting">
                        <p class="pt-2 button-card">Reservations<p>
                </div>
            </a>
        </div>
        <!-- Food Menu Card -->
        <div class="col-10 col-md-4 mt-4 grow card shadow">
            <a href="{% url 'menu_food' %}" class="btn btn-outline-light">
                <div class="row mt-3 mb-3">
                    <img src="{% static 'images/food_image.jpg' %}" class="card-img-top rounded img-fluid"
                        alt="A photo of a person eating a meal">
                        <p class="pt-2 button-card">Food Menu</p>
                </div>
            </a>
        </div>
        <!-- Drinks Menu Card -->
        <div class="col-10 col-md-4 mt-4 grow card shadow">
            <a href="{% url 'menu_drink' %}" class="btn btn-outline-light">
                <div class="row mt-3 mb-3">
                    <img src="{% static 'images/drink_image.jpg' %}" class="card-img-top rounded img-fluid"
                        alt="A photo of a glass of whiskey">
                        <p class="pt-2 button-card">Drinks Menu</p>
                </div>
            </a>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row text-center">
        <p><em>Allow us to look after you, your friends and family.</em></p>
        <p><em>Good food and great company make for the perfect family dinner.</em></p>
    </div>
</div>
<section class="container-fluid">
    <div class="row d-flex my-5 justify-content-evenly">
        <!-- Events catered for -->
        <div class="col-10 col-md-4 card shadow p-3 mt-5 rounded">
            <h3>We cater for the following events</h3>
            <ul>
                <li class="py-1">Private Parties</li>
                <li class="py-1">Terrace Parties</li>
                <li class="py-1">Corportate Events</li>
                <li class="py-1">Work Parties</li>
                <li class="py-1">Date Nights</li>
                <li class="py-1">Cocktail Parties</li>
            </ul>
            <span class="d-flex justify-content-center">
                <a href="{% url 'contact' %}" class="btn btn-lg btn-outline-light btn-floating grow m-0 button-contact" role="button">
                    Click here to arrange an event!
                </a>
            </span>
            <div class="col-12 mt-4">
                <img src="{% static 'images/cater_image.jpg' %}" class="img-fluid rounded shadow"
                    alt="Multiple drinks being clinked together">
            </div>
        </div>
        <!-- Blog Information -->
        <div class="col-10 col-md-4 card shadow p-3 mt-5 rounded justify-content-between">
            <div class="col-12">
                <img src="{% static 'images/blog_image.jpg' %}" class="img-fluid rounded shadow"
                    alt="A couple looking at a laptop">
            </div>
            <h3 class="mt-4">Check out our amazing Blog</h3>
            <ul>
                <li class="py-1">Recipes</li>
                <li class="py-1">Reviews</li>
                <li class="py-1">How to Guides</li>
                <li class="py-1">Cooking Steak Guides</li>
                <li class="py-1">Trends</li>
                <li class="py-1">Cocktails recipes</li>
            </ul>
            <span class="d-flex justify-content-center">
                <a href="{% url 'blog' %}" class="btn btn-lg btn-outline-light btn-floating grow button-blog m-0" role="button">
                    Click here to go to our Blog Page!
                </a>
            </span>
        </div>
    </div>
</section>

{%endblock%}