@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Martel+Sans:wght@200&display=swap');

body {
    background-color: #5c3131;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
    color: #ffff;
}

h1,
h2,
h3,
h4 {
    color: #CED4DA;
    font-family: 'Kanit', sans-serif;
}

.button-contact,
.button-blog,
.button-menu {
    font-family: 'Kanit', sans-serif;
}

a {
    color: #CED4DA;
    text-decoration: none;
}

.nav-link {
    font-size: 24px;
}

.card {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 20px;
    color: #CED4DA;
}

a:hover {
    color: #6c757d;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.caption {
    background-color: rgb(0, 0, 0, 0.5);
}

.btn-like {
    color: #6c757d;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #6c757d;
    background: transparent;
    border: none;
}

.btn-menus {
    background-color: #121212;
    background-color: rgb(0, 0, 0, 0.4);
}
    

/* .test {
    display: flex;
} */