{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<!-- Title of post an post image below -->
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 card mb-4 mt-3 text-center">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
        </div>
        <div class="d-none d-md-block col-md-8 card mb-4 mt-3">
            {% if "placeholder" in post.featured_image.url %}
            <img src="https://raw.githubusercontent.com/Jamsey911/restaurant_mp4/main/static/images/blog_placeholder.jpg" width="100%" aria-label="Image of restaurant">
            {% else %}
            <img src=" {{ post.featured_image.url }}" width="100%" aria-label="Image related to blog post">
            {% endif %}
        </div>
    </div>
</div>
<!-- Blog Post below -->
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 card">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <!-- Number of likes and comments below -->
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" aria-label="Liked button" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" aria-label="Like button" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Comments section below -->
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments p-3">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.message | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Comment post confirmation section below -->
<div class="container-fluid d-flex justify-content-center">

    {% if commented %}
    <div class="alert alert-success col-md-3 mt-3 mb-3 p-3" role="alert">
        <p>Comment is pending approval.</p>
    </div>
    {% else %}

    {% if user.is_authenticated %}
    <div class="row pb-3">
        <div class="col">
            <h2>Add a Comment</h2>
            <p>Post as: {{ user.username }}</p>
            <form method="POST">
                {{ comment_form| crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Comment</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

</div>

{% endblock content %}
