<section class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                {% if "placeholder" in post.featured_image.url %}
                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                    <img class="card-img-top" src="/static/images/blog_placeholder.jpg">
                    <h2 class="card-title pt-2">{{ post.title }}</h2>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <div class="img-flash">
                        <p class="author">Author: {{ post.author }}</p>
                    </div>
                    <hr />
                    <p class="card-text h6 card-footer">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                </a>
                {% else %}
                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                    <img class="card-img-top" src="{{ post.featured_image.url }}">
                    <h2 class="card-title pt-2">{{ post.title }}</h2>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <div class="img-flash">
                        <p class="author">Author: {{ post.author }}</p>
                    </div>
                    <hr />
                </a>
            </div>
            <div class="card-footer">
                <h6 class="h6">{{ post.created_on}} <i class="far fa-heart"></i>
                    {{ post.number_of_likes }}</h6>
            </div>
            {% endif %}
        </div>
    </div>
</section>