{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="mt-5 me-5 ms-5 d-flex justify-content-end">
        <a class="btn btn-lg btn-menus btn-outline-light btn-floating m-1 grow" href="{% url 'menu_drink' %}"
            role="button"><p class="button-menu"><i class="fa-solid fa-wine-glass-empty"></i> : Click here to go to see the Drinks Menu</p>
        </a>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 mt-5 mb-5">
            <h1 class="text-center">Food Menu</h1>
        </div>
    </div>
    <div class="row justify-content-center">

        <!-- Starter Food Items-->
        <div class="col-sm-6">
            <hr>
            <h2 class="text-center">Starters</h2>
            <hr>
            {% for food in list_food %}
            {% if food.food_choice == 0 and food.available == 1 %}
            <br>
            <h3>{{ food.name_food }}</h3>
            {{ food.description | safe }} €{{ food.price }}
            <br>

            {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="row justify-content-center">

        <!-- Main Course Food Items-->
        <div class="col-sm-6">
            <hr>
            <h2 class="text-center">Mains</h2>
            <hr>
            {% for food in list_food %}
            {% if food.food_choice == 1 and food.available == 1 %}
            <br>
            <h3>{{ food.name_food }}</h3>
            {{ food.description | safe }} €{{ food.price }}
            <br>

            {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="row justify-content-center">

        <!-- Steak Items-->
        <div class="col-sm-6">
            <hr>
            <h2 class="text-center">Steaks</h2>
            <hr>
            {% for food in list_food %}
            {% if food.food_choice == 2 and food.available == 1 %}
            <br>
            <h3>{{ food.name_food }}</h3>
            {{ food.description | safe }} €{{ food.price }}
            <br>

            {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="row justify-content-center">

        <!-- Dessert food Items-->
        <div class="col-sm-6 pb-5">
            <hr>
            <h2 class="text-center">Desserts</h2>
            <hr>
            {% for food in list_food %}
            {% if food.food_choice == 3 and food.available == 1 %}
            <br>
            <h3>{{ food.name_food }}</h3>
            {{ food.description | safe }} €{{ food.price }}
            <br>

            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}